<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attust.demo_student.mapper.StudentMapper">


    <select id="selectList" resultType="com.attust.demo_student.entity.Student">
        SELECT
            id,
            name,
            age,
            major,
            phone,
            create_time AS CreateTime
        FROM    student
    </select>


    <select id="selectById" resultType="com.attust.demo_student.entity.Student">
        SELECT
            id,
            name,
            age,
            major,
            phone,
            create_time AS CreateTime
        FROM    student
        WHERE   id = #{id}
    </select>

    <insert id="insert" >
        INSERT INTO student(name,age,major,phone)
        VALUES(#{name},#{age},#{major},#{phone})
    </insert>

    <update id="update">
        UPDATE student
        SET name = #{name},
            age = #{age},
            major = #{major},
            phone = #{phone}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM student
        WHERE id = #{id}
    </delete>

    <select id="selectByName" resultType="com.attust.demo_student.entity.Student">
    SELECT
    id,
    name,
    age,
    major,
    phone,
    create_time AS CreateTime
    FROM student
    WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>

    <select id="page" resultType="com.attust.demo_student.entity.Student">
        SELECT
            id,
            name,
            age,
            major,
            phone,
            create_time AS CreateTime
        FROM    student
        LIMIT #{offSet}, #{pageSize}
    </select>
</mapper>